<div class="contents_home">
    <div class="breadcrumb">
        <div class="bc_r">
            <span>تسجيل الدخول لبوابة الموظفين </span>
        </div>
      </div>
      
      <div class="int_content">
        <div  style="width: 406px; margin: 0 auto">

        <table style="width: 406px; margin: 0 auto">
          <tr>
            <td class="HeaderBg alignC">استعادة كلمة المرور </td>
          </tr>
        </table>
      

        <form name="form" [formGroup]="form" (ngSubmit)="changePassword(password, passwordconfirm, code )">
          <table class="form" >
            <tbody>
    
              <tr>
                <td><label for="">كلمة المرور الجديدة:</label></td>
                <td><input #password type="password" formControlName="password" /></td>
              </tr>
    
              <tr>
                <td><label for="">تأكيد كلمة المرور:</label></td>
                <td><input #passwordconfirm type="password" formControlName="confirmPassword" /></td>
              </tr>
    
              <tr>
                <td><label for=""> رمز التحقق:</label></td>
                <td><input #code type="text" formControlName="code" /></td>
              </tr>
      
            
            <tr>
                <td></td>
                <input  type="submit"  value="تحديث كلمة المرور" class="dfltBtn" /> 
            </tr>
    
            </tbody>
      
          </table>
      
       
    
             <table
              *ngIf="incorrectCode || notMatching || notValid ||
              form.get('password')?.touched && form.get('password')?.errors?.minlength  "
              class="errorMessage"
            >
              <td style="width: 10%" class="alignC">
                <img />
              </td>
              <td>
                <span *ngIf="notValid"> 
                جميع الحقول إجبارية <br></span>

                <span *ngIf="notMatching"> كلمة المرور غير متطابقة <br></span>
                <span  *ngIf="incorrectCode">رمز التفعيل المدخل غير صحيح<br></span>
                <span  *ngIf="form.get('password')?.errors?.minlength">كلمة المرور يجب أن تحتوي على ٦ خانات علئ الأقل</span>

              </td>
            </table>
        </form>
       
</div>
</div>
</div>