<div class="contents_home">
  <div class="breadcrumb">
    <div class="bc_r">
      <span>تسجيل الدخول لبوابة الموظفين </span>
    </div>
  </div>

  <div class="int_content">
    <div style="width: 406px; margin: 0 auto">
      <table style="width: 406px; margin: 0 auto">
        <tr>
          <td class="HeaderBg alignC">استعادة كلمة المرور</td>
        </tr>
      </table>

      <form
        name="form"
        [formGroup]="form"
        (ngSubmit)="form.valid && restPassword(userName)"
      >
        <table class="form">
          <tbody>
            <tr>
              <td><label for="">اسم المستخدم:</label></td>
              <td>
                <input #userName type="text" formControlName="userName" />
              </td>
            </tr>

            <tr>
              <td></td>
              <input
                [disabled]="!form.valid"
                type="submit"
                value="إرسال رمز التحقق"
                class="dfltBtn"
              />
            </tr>
          </tbody>
        </table>

        <table
          *ngIf="
            form.get('userName')?.touched &&
            form.get('userName')?.errors?.required
          "
          class="errorMessage"
        >
          <td style="width: 10%" class="alignC">
            <img />
          </td>
          <td>
            <span>الرجاء إدخال اسم المستخدم </span>
          </td>
        </table>
        <table *ngIf="failure" class="errorMessage">
          <td style="width: 10%" class="alignC">
            <img />
          </td>
          <td>
            <span *ngIf="failure">اسم المستخدم أو كلمة المرور غير صحيحة </span>
          </td>
        </table>
      </form>
    </div>
  </div>
</div>
