<div class="q_links">
    <div class="fgd_l">
        <img src="https://serv.tvtc.gov.sa/app/App_Themes/images/pixel.png" alt=""></div>
    <div class="fgd_r">
        <img src="https://serv.tvtc.gov.sa/app/App_Themes/images/pixel.png" alt=""></div>
    <div class="fgd_m">
        <div class="footer_right">
            <div class="clr">
            </div>
            <a href="https://webmail.tvtc.gov.sa/" id="ctl00_A4" class="topLnk">
            </a>&copy; جميع الحقوق محفوظة لمشروع توظيف الأيتام {{ date  }}
        </div>
    </div>
    <div class="clr">
    </div>
</div>
