
.dis{
    display: none;
}


img{
    background-size: cover;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  a:hover {
    color: #fbdc98;
  }

  a{
      text-decoration: none;
  }