<div class="contents_home">
  <div class="breadcrumb">
    <div class="bc_r">
      <span>تفاصيل الخبر </span>
    </div>
  </div>
  <div class="int_content">
    <table style="width: 776px; margin: 0 auto">
      <tr>
        <td class="HeaderBg alignC">تفاصيل الخبر</td>
      </tr>

      <div #refEl2 class="congrats-form">
        <div>
          <p>
            <span>{{ data.post_title }}</span
            ><br /><br />
            <!-- {{ data.body }} -->
            {{ data.postbody }} <br>
            {{ data.employee_email }}
          </p>
        </div>
      </div>
      <!-- *ngIf="userRoleStatus != '' && userRoleStatus != undefined && userRoleStatus != null " -->
      <input

      (click)="ApplyJob()"
      value = "تقديم"
      class = "dfltBtn"
      style = "margin-left: 10px"
      />
    </table>
  </div>
</div>
