<div class=" contents_home" >
  <div class="int_content">
    <div class="container">
      <div class="title">الصفحة الشخصية</div>
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">الإسم الكامل</span>
            <input type="text" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">العمر</span>
            <input type="text" placeholder="Enter your age" required>
          </div>
          <div class="input-box">
            <span class="details">الحالة الوظيفية </span>
            <input type="text" placeholder="Working or not working" required>
          </div>
          <div class="input-box">
            <span class="details">إرفاق السيرة الذاتية</span>
            <input type="file" placeholder="attachment" required>
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <span class="gender-title">الجنس</span>
          <div class="category">
            <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">ذكر</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">أنثى</span>
            </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="إرسال">
        </div>
      </form>
    </div>

  </div>
</div>
