<div class=" contents_home" >
  <div class="int_content">
    <div class="container">
      <div class="title">الصفحة الشخصية</div>
      <form name="form" #form="ngForm" (ngSubmit)="addUserProfile()">
        <div class="user-details">
          <div class="input-box">
            <span class="details">الإسم الكامل</span>
            <input [(ngModel)]="fullName" name= "fullName" type="text" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">العمر</span>
            <input [(ngModel)]="age" name= "age" type="text" placeholder="Enter your age" required>
          </div>
          <div class="input-box">
            <span class="details">الحالة الوظيفية </span>
            <input [(ngModel)]="workingStatus" name= "workingStatus" type="text" placeholder="Working or not working"required>
          </div>
          <div class="input-box">
            <span class="details">إرفاق السيرة الذاتية</span>
            <input [(ngModel)]="attachedCV" name= "attachedCV" type="file" id="pdf" name="pdf" placeholder="attachment" accept="application/pdf" (change)="selectedFile($event)" required />

          </div>
        </div>

        <div class="button">
          <input type="submit" value="إرسال">
        </div>
      </form>
    </div>

  </div>
</div>
